doctype html  
html(lang='en')  
  head
    title People
    link(rel='stylesheet', href='/stylesheets/people.css')
    link(
      rel='stylesheet',
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css',
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
      crossorigin='anonymous',
    )
  body  
  mixin card(person)    
    div.card(style='width: 18rem;')
      img.card-img-top(
        src='https://www.w3schools.com/bootstrap4/img_avatar1.png', 
        alt='Card image cap'
      )
      div.card-body
        h5.card-title #{person.name}
        ul.list-group.list-group-flush
          li.list-group-item.person Gender: #{person.gender}
          li.list-group-item.person Birth year: #{person.birth_year}
          li.list-group-item.person Height: #{person.height} 
          li.list-group-item.person Mass: #{person.mass}  
          li.list-group-item.person Eyes: #{person.eye_color}
          li.list-group-item.person Hair: #{person.hair_color}
          li.list-group-item.person Skin: #{person.skin_color}      
  
  a(href= link).btn.btn-primary.link Back
  div.people
    for item in JSON.parse(people)      
      +card(item)

  
